@import "../sass-utils/variables";

// Section: Navbar

body {
  font-family: "Inter", sans-serif;
  color: $tertiary-color;
}

.nav-links {
  font-size: 16px;
  font-weight: 500;

  a {
    color: $paragraph-color;
    text-decoration: none;
  }
}

.button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: $tertiary-color;
}

// Section: Hero

.hero {
  .main-content {
    h1 {
      font-family: "Clash Display";
      font-style: normal;
      font-weight: 600;
      font-size: 81px;
      line-height: 80px;
    }
    p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: $paragraph-color;
    }

    .counter {
      .counter-item {
        color: $paragraph-color;
        .value {
          font-family: "Clash Display";
          font-size: 20px;
          font-weight: 600;
          text-align: left;
          color: $tertiary-color;
        }
      }
    }
  }
}

// Section: Steps

.steps {
  h2 {
    font-family: Clash Display;
    font-size: 48px;
    font-weight: 600;
  }
  .steps-row {
    .step {
      h3 {
        font-family: Clash Display;
        font-size: 22px;
        font-weight: 600;
        text-align: left;
      }
      p {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
      }
    }
  }
}

//Section: Drops

.header {
  .heading {
    h3 {
      font-family: Clash Display;
      font-size: 48px;
      font-weight: 600;
      text-align: left;
    }
  }
}

//section: Card
.card {
  .deadline {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    .deadline-time {
      font-family: "Clash Display";
      font-weight: 600;
      font-size: 16px;
      color: $bold-color;
    }
  }
}

//Section: Collection

.collection {
  .serial-no {
    font-family: "Clash Display";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-right: 5px;
  }
  .name-coll {
    .name {
      font-family: "Clash Display";
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: $tertiary-color;
    }
    .amount {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: $bold-color;
    }
  }
}

//Section: Filter
.filter {
  color: #c9bfd8;
}

//Section: Subscribe
.subscribe {
  .content {
    h3 {
      font-family: Clash Display;
      font-size: 48px;
      font-weight: 600;
      text-align: left;
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }
  }
}
