@import "../sass-utils/variables";

@mixin button($tb, $rf, $color, $outlined: false) {
  padding: $tb $rf;
  @if $outlined {
    border: 3px solid $color;
  } @else {
    background-color: $color;
    border: none;
  }
}
