$primary-color: #11002b;
$secondary-color: #d331bb;
$tertiary-color: #fff;
$paragraph-color: #c9bfd8;
$bold-color: #0fdfe5;
$counter-bg: #ffffff1a;
$divider-color: #c9bfd84d;
$blurred-bg: rgba(255, 255, 255, 0.3);
