@import "../sass-utils/variables";

.collection {
  height: 100px;
  width: 270px;
  border-bottom: 1px solid $divider-color;
  .details {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
