.drops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 100px;
  .header {
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heading {
      display: flex;
      span {
        margin-left: 10px;
      }
    }
  }
  .drops-row {
    display: flex;
    justify-content: space-around;
    gap: 15px;
  }

  .section-footer {
    display: none;
  }
}
