nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  width: 100%;
  .nav-links {
    display: flex;
    justify-content: space-between;
    a {
      padding-left: 70px;
    }
  }
  .ham-burger {
    display: none;
  }
  .register {
    margin-left: 20px;
  }
}
