@import "../sass-utils/_variables.scss";

.partners {
  padding: 40px 100px;
  .partners-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $counter-bg;
    padding: 20px;
    img {
      height: 35px;
    }
  }
}
